<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
        <div id="map" style="width:80%; height:80%" float="left">
        	<div style="height: 80;position: absolute;top: 0px;left: 0px;background-color: rgb(229, 227, 223);">
        	<div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 80%; width: 80%; padding: 0px; border-width: 0px; margin: 0px;">
      		  <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 80%; width: 80%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;">
       		 <div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
        		<div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
        		<div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 992; transform: matrix(1, 0, 0, 1, -32, -20);">
       			 <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
       			 <div style="width: 256px; height: 256px;">
        </div>
        </div>
        </div>
        
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
    
    <script>  
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxUNoEIu9dcqrexjoCLUCGejINh-sBlE&callback=initMap"
    async defer></script>

</html>