<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
        <div id="map" style="width:80%; height:80%">
      
        </div>
        
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
    
    <script>  
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.287, lng: 174.773},
          zoom: 8
        });
              
       var marker = new google.maps.Marker({
          position: {lat: -41.287, lng: 174.773},
          map: map,
          title: 'Hello World!'
        });
        
 geocoder = new google.maps.Geocoder();
 
function codeAddress() {

    //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead
  //  var address = document.getElementById( 'zip1' ).value;
   var address = 'Upper Hutt'

    geocoder.geocode( { 'address' : address + ',NZ'}, function( results, status ) {
        if( status == "OK" ) {

            //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
            map.setCenter( results[0].geometry.location );
            var markerTest = new google.maps.Marker( {
                map     : map,
                position: results[0].geometry.location
            } );
        } else {
            alert( 'BIG SAD ALERT: ' + status );
        }
    } );
      
}
      }


    </script>
    
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxUNoEIu9dcqrexjoCLUCGejINh-sBlE&callback=initMap"
    async defer></script>

</html>